@import "../variables";

.leaflet-container {
  min-height: 400px;
  height: calc(80vh - 70px);
  width: 100%;
}

.about {
  max-width: 800px;
  margin: 0 auto;
}
.map{
  position: relative;

  .new_point{
    filter: hue-rotate(80deg);
  }

  .question_form{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
    max-width:350px;;
    z-index:999;
    padding:1em;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items: center;

    h2{
      text-align: center;
    }

    form{
      width:90%;
      
    flex-direction:column;
    align-items: center;
    }
    input, select{
      width:100%;
      border:2px solid $highlight-color;
      box-sizing:border-box;
      margin:0.5em 0;
      padding:0.25em 0.5em;
      font-size:1.2em;
      border-radius: 0.2em;
    }
    .captcha{
      margin:0 auto;
    }
  }
  
}